:host {
  display: block;
  padding: 0 16px;
  margin-bottom: 100px;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 8px;
}

.container > div {
  margin-bottom: 20px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  height: 345px;
  width: 100%;
  margin: auto;
}
