<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a [routerLink]="['Home']" class="navbar-brand">北美夏令营</a>
    </div>
    <ul class="nav navbar-nav">
      <li [routerLink]="['Home']" class="active"><a>Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Programs
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a [routerLink]="['Search']">Search</a></li>
          <li><a [routerLink]="['Program Directory']">Directory</a></li>
        </ul>
      </li>
      <li><a >About</a></li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li *ngIf="!loginService.getPerson()">
        <a [routerLink]="['Signup']"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
      </li>
      <li *ngIf="!loginService.getPerson()">
        <a [routerLink]="['Login']"><span class="glyphicon glyphicon-log-in"></span> Login</a>
      </li>
      <li class="dropdown" *ngIf="loginService.getPerson()">
        <a class="dropdown-toggle" data-toggle="dropdown">{{loginService.getPerson().nickname}}
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li *ngIf="loginService.getPerson().role == 'admin'"><a [routerLink]="['PersonAdmin']">Admin</a></li>
          <li><a (click)="log_out()">Log out</a></li>
        </ul>        
      </li>
    </ul>    
  </div>
</nav>