<div *ngIf="status.success" class="alert alert-success">
  <strong>Success!</strong> New program has been created.
</div>
<div *ngIf="status.fail" class="alert alert-danger">
  <strong>Ooopus!</strong> Something wrong. Please check error message in console.
</div>

<form class="form-program" (submit)="submitProgram()">
	<h3>Create new program</h3>
	<hr>
  <div class="form-group">
    <input type="text" class="form-control" required placeholder="name" [(ngModel)]="program.name">   
  </div>

  <div class="form-group">
    <textarea id="description" rows="4" class="form-control" required placeholder="description" [(ngModel)]="program.description"></textarea>  
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="primary photo id" [(ngModel)]="program.photo_id">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required placeholder="provider id" [(ngModel)]="program.provider_id">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required placeholder="website url" [(ngModel)]="program.website">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" required placeholder="category" [(ngModel)]="program.category">
  </div>  

  <div class="form-group">
    <input type="text" class="form-control" placeholder="age start" [(ngModel)]="program.age_start">
  </div>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="age end" [(ngModel)]="program.age_end">
  </div>

  <div class="form-group">
    <textarea rows="4" class="form-control" placeholder="refund policy" [(ngModel)]="program.refund_policy"></textarea>  
  </div>

  <div class="form-group">
    <textarea rows="4" class="form-control" placeholder="syllabus" [(ngModel)]="program.syllabus"></textarea>
  </div>

  <div class="form-group">
    <textarea rows="4" class="form-control" placeholder="application detail" [(ngModel)]="program.application_detail"></textarea>
  </div>  

  <div class="form-group">
    <textarea rows="4" class="form-control" required placeholder="contact info" [(ngModel)]="program.contact_info"></textarea>
  </div>
  <button type="submit" class='btn btn-primary'>Submit</button>
</form>