:host {
  display: block;
  padding: 0 16px;
}

.form-tabs {
  margin: 0 100px 0 100px;
}

form {
  margin: 20px 0 0 0;
  padding: 19px 29px 29px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.ng-valid[required] {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

.alert {
  z-index: 1001;
  position: fixed;
  top: 1em;
}

ul {
  list-style-type: none;
  padding: 10px 0 0 0;
}

.provider-filter {
  margin: 0 20px 0 20px;
}

.form-control[readonly] {
  background-color: white;
}
