<form class="form-login" (submit)="sign_in(email, password)">
	<h3>Login</h3>
	<hr>
  <div class="form-group">
    <input type="text" class="form-control" required [(ngModel)]="person.email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Invalid email address">   
  </div>

  <div class="form-group">
    <input type="password" class="form-control" required [(ngModel)]="person.password" placeholder="Password">  
  </div>
  <div class="form-group">
  	<button type="submit" class='btn btn-primary'>Login</button>
  	<a href="#" class="pull-right">Forgot Password?</a>
  </div>
  
</form>