<br>
<form (submit)="search(keyWord)" class="form-inline">
  <input id='search_input' [(ngModel)]="keyWord" placeholder="Cilantro's camp in Seattle!" class="form-control">
  <button type="submit" class="btn btn-primary">Search</button>
</form>

<h4 *ngIf="result"><small>Found {{result.length}} results.</small></h4>
<ul class="col-md-8">
  <li *ngFor="#camp of result">
  	<a [routerLink]="['Camp', {id: camp.id}]">{{camp.name}}  -  {{camp.year}} {{camp.season}}</a>
  	<div class="text-success">{{camp.homepage}}</div>
  	<div>{{camp.description.substring(0, 340)+'...'}}</div>
  </li>
</ul>	
