:host {
  display: block;
  padding: 0 16px;
}

.row.content {
  height: 800px;
}

/* Set gray background color and 100% height */
.sidenav {
  background-color: white;
  height: 100%;
}

input {
  width: 250px;
}

ul {
  list-style-type: none;
  padding: 0 0 0 0;
}

a {
  cursor: pointer;
}
