<form class="form-signup">
	<h3>Signup</h3>
	<hr>
  <div class="form-group">
    <input type="text" class="form-control" required [(ngModel)]="userName" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required [(ngModel)]="email" placeholder="Email address">
  </div>  
  <div class="form-group">
    <input type="password" class="form-control" required [(ngModel)]="passWord" placeholder="Password">
  </div>
  <div class="form-group">
  	<button type="submit" class='btn btn-primary'>Sign up for Cilantro!</button>
  </div>
  
</form>