<form class="form-signup" (submit)="sign_up(person)">
	<h3>Signup</h3>
	<hr>
  <div class="form-group">
    <input type="text" class="form-control" required [(ngModel)]="person.nickname" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" required [(ngModel)]="person.email" placeholder="Email address">
  </div>  
  <div class="form-group">
    <input type="password" class="form-control" required [(ngModel)]="person.password" placeholder="Password">
  </div>
    <div class="form-group">
    <input type="password" class="form-control" required [(ngModel)]="person.password_confirmation" placeholder="Password Confirmation">
  </div>
  <div class="form-group">
  	<button type="submit" class='btn btn-primary'>Sign up for Cilantro!</button>
  </div>
  
</form>